body {
  margin: 0px !important;
 }
  
  h1 {
    font-size: 40px;
    color: black;
    font-style:italic;
  }

  h2 {
    margin-left: 10px;
    font-size: 16px;
    font-family: tsBold,sans-serif;
    font-color: #374F56;
  }
  a {
    text-decoration: none;
  }

  a:hover {
    background: #E6E6E6;
  }
    
  .header{
    margin: 5px;
  }

  #h_logo {
    background:url("alt-title.png");
    width: 490px;
    height:75px;
    display: block;
    font-family: times, serif;
  }

  .logo {
    display: inline-block;
    width: 165px;
    height: 30px;
    margin-top: 20px;
    margin-right: 20px;
    color: transparent;
    text-indent: -9999px;
    overflow: hidden;
    float: right;
  }

  #logo-image {
    background: url("//assets.moovweb.net/moovweb-marketing/corpsite-prod/v118/images/d_sprite.png") no-repeat 0px -676px;
    height: 22px;
    width: 162px;
    display: block;
  }

  .mainNav {
    width: 100% !important;
    background: #E5E6E6;
    border: 1px solid black;
  }
 
  .navLink {
    background: linear-gradient(to top, rgba(215,215,215,1) 0%,rgba(210,210,210,1) 50%,rgba(200,200,200,1) 51%,rgba(245,245,245,1) 100%);
    height: 30px;
    margin: 10px 10px;
    min-width: 90px;
    padding: 10px 35px;
    border:solid gray 1px;
    border-radius:6px;
    font-size:.9em;
    text-align: center;
    display: inline-block;
  }

  #jira{
    height: auto;
    max-height: 30px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }
  #conf {

    position: relative;
    left: -20px;
    height: auto;
    max-height: 30px;
  }

  .logo-align{
    min-width: 110px;
    max-width: 145px !important;
    vertical-align: bottom;
  }

  .mainWrapper{
    padding: 5px;
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
    width: 100%;
    height: auto;
    box-shadow: inset 0 -2px 2px rgba(0,0,0,0.2);
  }

  #cat_pic {
    display: block;
    width: 75%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  #caption{
    text-align: center;
    padding: 5px;
  }

  .link_container{
    margin-top: -10px;
    padding: 10px;
  }

  .links{
    margin: 10px 12px;
    display: inline-block;
  }

  .on-call-list {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    box-shadow: inset 0 -2px 2px rgba(0,0,0,0.2);
    width: 500px;
    height: auto;
  }
  
  .box{
    display:-webkit-box;
    display:-moz-box;
    display:box;
  }

  .flex {
    display: -webkit-flex;
      -webkit-flex-direction: row;
 
    display: flex;
      flex-direction: row;

    -webkit-box-flex:1.0; /* Safari and Chrome */
          box-flex:1.0;
  }

  .horizontal {
    -webkit-box-orient:horizontal;
      -moz-box-orient:horizontal;
          box-orient:horizontal;
  }

  .vertical {
    -webkit-box-orient:vertical;
       -moz-box-orient:vertical;
            box-orient:vertical;
            padding-right: 20px;
  }

  .flex1{
      -webkit-box-flex:1;
        -moz-box-flex:1;
            box-flex:1;
  }

  .name {
      padding-top: 10px;
      font-weight: bold;
  }

  .number{
    padding-top:10px;
    font-style: italic;
  }

  .email{
    padding-top:10px;

  }

  .table-caption{
    padding: 10px;
  }

.footer {
  margin:10px;
  }
}